.header {
  background-color: white;
  padding: 20%;
  text-align: center;
  h2 {
    font-size: 25px;
  }
}

.main {
  background-color: grey;
}

.project1 {
  background-color: red;
  background-image: './assets/unjumble.png';
}

.project2 {
  background-color: blue;
}

.project3 {
  background-color: green;
}

.project4 {
  background-color: yellow;
}

.about-me {
  background-color: pink;
}

.contact {
  background-color: purple;
}
