body {
  background-color: #FCFCFC;
}

.header {
  background-color: white;
  // background: linear-gradient(to bottom right, #FFC837, #FFC837);
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
  .title {
    padding-top: 0.7%;
  }
  .intro {
    font-size: 50px;
    padding: 10% 5%;
    font-family: 'Playfair Display', serif;
  }
}

.technologies {
  background-color: #F6F6F6;
  padding: 20%;
}

.main {
  background-color: white;
}

.project1 {
  background-color: white;
}

.project2 {
  background-color: blue;
}

.project3 {
  background-color: green;
}

.project4 {
  background-color: yellow;
}

.project {
  padding: 0px;
}

.project-image {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.about-me {
  background-color: #F6F6F6;
  padding: 20%;
}

.contact {
  background-color: white;
  padding: 20%;
}
