// * {
//   box-sizing: border-box;
// }

.title {
  background-color: grey;
  color: white;
}

ul {
  margin: 10px auto;
  width: 400px;
  height: 400px;
  background: blue;
}

li {
  width: 98px;
  margin: 1px;
  height: 98px;
  line-height: 98px;
  background: red;
  color: white;
  text-align: center;
  float: left;
}
