body {
  background-color: #FCFCFC;
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: white;
  // background: linear-gradient(to bottom right, #FFC837, #FFC837);
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: black;
  .title {

    padding-top: 0.7%;
    h6 {
      color: grey;
      font-size: 15px;
    }
  }
  .intro {
    font-size: 50px;
    padding: 10% 5%;
    // font-family: 'Playfair Display', serif;
    font-family: 'Lato', sans-serif;
    span {
      color: #67F1D7;
    }
  }
}

.portrait {
  height: 100%;
  width: 100%;
}

.skills {
  // text-align: center;
  .dev-skills {
    background-color: #F6F6F6;
    background-color: #67F1D7;
    background-color: #FAFAFA;
    // padding: 0% 0% 40% 0%;
    color: black;
  }
  .other-skills {
    background-color: #67F1D7;
    background-color: #F6F6F6;
    // padding: 0% 0% 40% 0%;
    color: black;
  }
}

.extra-height {
  height: 400px;
}

.main {
  background-color: white;
}

.project1 {
  background-color: white;
}

.project2 {
  background-color: blue;
}

.project3 {
  background-color: green;
}

.project4 {
  background-color: yellow;
}

.project {
  padding: 0px;
}

.project-image {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.about-me {
  background-color: #F6F6F6;
  padding: 20%;
}

.contact {
  background-color: white;
  padding: 20%;
}
