
$primary-color: #398A8D;
$primary-color: #E0F4E9;
$primary-color: #B6D9D5;
$primary-color: #58C6AA;
$primary-color: #58CCCB;
$primary-color: #ED4630;
$primary-color: #ED4853;//possible
$primary-color: #67F1D7;

$secondary-color: #262627;




body {
  padding-top: 10px;
  background-color: #FCFCFC;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.header {
  text-align: center;
  .tag-line {
    font-size: 15px;
    color: grey;
  }
  .logo-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: grey;
    background-color: $primary-color;
    background-color: #F0F0F0;

    #logo {
      width: 100%;
      color: $primary-color;
    }
  }


  background-color: white;
  // background: linear-gradient(to bottom right, #FFC837, #FFC837);
  font-family: 'Lato', sans-serif;
  font-weight: $secondary-color;
  .title {
    font-family: 'Roboto', sans-serif;
    font-wieght: black;
    padding-top: 0.7%;
    h6 {
      color: grey;
      font-size: 15px;
    }
  }
  .intro {
    text-align: center;
    font-size: 50px;
    padding: 10% 15%;
    // font-family: 'Playfair Display', serif;
    font-family: 'Lato', sans-serif;
    span {
      color: $primary-color;
    }
  }
}

.portrait {
  width: 100%;
}


.skills {
  text-align: center;
  padding-bottom: 90px;
  background-color: $secondary-color;
  .dev-skills {
    background-color: #F6F6F6;
    background-color: $primary-color;
    background-color: #FAFAFA;
    background-color: white;
    background-color: $secondary-color;
    // padding: 0% 0% 40% 0%;
    color: $secondary-color;
    color: $primary-color;
    .icon {
      font-size: 70px;
      padding: 20px 0;
      // color: $primary-color;
    }
  }
  .other-skills {
    background-color: #F6F6F6;
    background-color: $primary-color;
    // padding: 0% 0% 40% 0%;
    color: $secondary-color;
  }
}

.extra-height {
  height: 400px;
}

.work {
  background-color: $primary-color;
  background-color: white;
  padding-bottom: 80px;
  color: $secondary-color;
}

.project1 {
  background-color: white;
}

.project2 {
  background-color: blue;
}

.project3 {
  background-color: green;
}

.project4 {
  background-color: yellow;
}

//Universal SCSS

.conatainer-padding {
  padding-top: 40px;
}

.center {
  text-align: center;
}

// .margin {
//   margin-bottom: 50px;
// }

h1 {
  padding: 60px;
}

/////////////////////////////////////
// .imgHolder{
//   display: inline-block;
//   background: #000;
//
// .item-fade{
//   vertical-align: top;
//   opacity: 1;
//   transition: opacity 0.5s;
//   -webkit-transition: opacity 0.5s;
// }
// .item-fade:hover{
//   opacity: 0.5;
// }
// }

////////////////////////////////////
//zoom
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  overflow: hidden;
  width: 540px;
  background: #000;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.5s;
}
.item:hover img {
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  opacity: 0.3;
   // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

///////////////////////////////////


.project {
  padding: 0px;
  // margin: 5px;
}

.project-image {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.about {
  background-color: #E0F4E9;
  background-color: #F6F6F6;
  // padding: 20%;
  padding-bottom: 70px;
}

.contact {
  text-align: center;
  background-color: $secondary-color;
  color: white;
  padding: 5px 0 100px 0;
  margin: 0;
}

//animation

.element {
  animation: pulse 5s;
  margin: 0;
}

@keyframes pulse {
  0% {
    color: white;
  }
  100% {
    color: $secondary-color;
  }
}

// .element2 {
//   animation: pulse 5s;
// }
//
// @keyframes pulse {
//   0% {
//     background-color: #F0F0F0;
//   }
//   100% {
//     background-color: white;
//   }
// }


html, body {
  height: 100%;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: '../assets/music-box.png';
  font-family: 'Lato', sans-serif;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 150px;
  // background-color: red;
  background: '../assets/music-box.png';
  color: white;
  box-shadow: 5px 5px 25px #000;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition:
    all 1s;
  .box__blurb {
    opacity: 1;
    transform: translateX(45px);
    transition:
      opacity 0.5s 2s,
      transform 0.5s 0.5s;
  }
  .rect__blurb {
    opacity: 0;
    transform: translateX(500px);
    transition:
      opacity 0.5s 1s,
      transform 0.5s 1s;
  }
  &:hover {
    width: 300px;
    background-color: orange;
    box-shadow: -5px 5px 25px #000;
    .box__blurb {
      opacity: 0;
      transform: translateX(-500px);
    }
    .rect__blurb {
      opacity: 1;
      transform: translateX(-100px);
    }
  }
}
